services:
  shmarql:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: "${SHMARQL_CONTAINER_NAME:-shmarql}"
    restart: unless-stopped
    environment:
      - "TZ=Europe/Berlin"
      - "SCHEME=${SHMARQL_SCHEME:-http://}"
      - "DOMAIN=${SHMARQL_DOMAIN:-localhost}"
      - "PORT=7014"
      - "ENDPOINT=https://nfdi4culture.de/sparql"
      - "ENDPOINTS=virtuoso|https://nfdi4culture.de/sparql"
      - "DEBUG=1"
      - "WATCH_DOCS=1"
    volumes:
      - ./src/mkdocs.yml:/src/mkdocs.yml
      - ./src/docs:/src/docs
      - ./src/docs/.nav.yml:/src/docs/.nav.yml
    ports:
      - "7014:8000"