.tile {
    position: relative;
    margin: 2rem 0 0 0;
    padding: 2rem 2rem 0.5rem 2rem;
    color: black;
    background: #d3efe6;
}

figure {
    margin: 0;
    padding: 0;
    width: 100%;
}

figure img {
    margin-bottom: 0 !important;
}

.n4c-border-black {
    outline: 1px solid #333;
}

.language-shmarql {
    margin-bottom: 3rem;
}

.language-shmarql p {
    display: none;
}

.language-shmarql table {
    font-size: smaller;
}

.paginate_button {
    border-bottom: none !important;
}

td.code {
    position: relative;
}

.execute {
    position: absolute;
    top: 0.8rem;
    right: 3rem;
    border: none !important;
}

.execute svg:hover path {
    fill: #82d8bc;
}

.code .copy-to-clipboard {
    right: 8px;
    top: 0.7rem;
}

.dataTables_wrapper .dataTables_length select,
.dataTables_wrapper .dataTables_filter input {
    border: 1px solid #000;
    border-radius: 0;
}

.paginate_button {
    background: none !important;
    border: none !important;
    border-bottom: 1px solid #82d8bc !important;
    border-radius: 0 !important;
    color: #0c0c0c !important;
    margin-right: 5px;
    padding: 5px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: #82d8bc !important;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border: none;
}

details.plain {
    background: none !important;
    padding: 0 !important;
    margin: 0 0 2rem 0 !important;
}

details.plain summary {
    padding: 1rem;
    border: 1px solid #333;
}